.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . ."
    ". . . . ."
    ". . . . .";
}
.nombreItem{
font-family: Georgia, 'Times New Roman', Times, serif;
border-color: azure;
border-style: groove;

}

  #imgItem{
    align-content: center;
   display:flex;

  }
  
 